.profile-input__label {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 16px 10px;
  width: 100%;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  border-bottom: 1px solid #E8E8E8;
}

.profile-input__label:last-of-type {
  border-bottom: none;
}

.profile-input__input {
  border: 0;
  padding: 0;
  font-weight: 400;
  text-align: right;
  flex-grow: 1;
}
.profile-input__input:disabled{
  background-color: #FFFFFF;
  color: black;
}


.profile-input__input:focus {
  outline: 0;
}
