.movies {
    padding: 68px 70px 10px;
    display: grid;
    gap: 37px 24px;
    grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
    list-style: none;
    margin: 0;
}

.movies_saved{
    padding-bottom: 247px;
}

@media screen and (max-width: 1024px) {
    .movies {
      padding-left: 30px;
      padding-right: 30px;
      gap: 30px;
    }
}
@media screen and (max-width: 768px) {
    .movies {
        padding: 70px 30px 27px;
    }
    .movies_saved {
        padding-bottom: 169px;
    }
}
  
@media screen and (max-width: 680px) {
    .movies {
      padding: 40px 10px;
      row-gap: 34px;
    }
}
@media screen and (max-width: 591px) {
    .movies {
        justify-items: center;
    }
}
@media screen and (max-width: 400px) {
    .movies {
      padding: 40px 10px 26px;
      row-gap: 14px;
    }
}

