.profile__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 21px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 0 70px;
  min-height: calc(100vh - 74px);
  box-sizing: border-box;
}
.profile__control-block{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile__submit{
  width: 410px;
  height: 45px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: coral;
  color: #FFFFFF;
  transition: opacity 0.2s ease;
}

.profile__submit-block{
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.profile__submit:hover{
  opacity: 0.6;
}

.profile__error{
  color: #FF004C;
  font-size: 11px;
  text-align: center;
}

.profile__inputs {
  padding: 0;
  margin: 0;
  border: 0;
  max-width: 410px;
  padding: 110px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1 0 auto;
}

.profile__buttons {
  padding: 0;
  margin: 0;
  border: 0;
  max-width: 410px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 0 0 auto;
  margin-top: 20px;
}

.profile__control {
  background-color: #FFFFFF;
  border: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}

.profile__control:hover {
  text-decoration: underline;
}

.profile__control_signout {
  color: #EE3465;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 273px;
  }

  .profile__inputs {
    margin: 0;
    padding: 84px 17px 60px;
    max-width: 410px;
  }

}
@media screen and (max-height: 650px){
  .profile{
    padding: 0 0 40px;
    justify-content: flex-end;
  }
  .profile__inputs{
    flex: 0 0 auto; 
  }
}

@media screen and (max-width: 490px) {
  .profile {
    padding: 70px 30px 44px;
    justify-content: flex-start;
  }

  .profile__inputs {
    padding: 68px 10px 0;
    flex: 1 0 auto;
  }

  .profile__control {
    font-size: 12px;
    line-height: 14.5px;
    
  }
  .profile__buttons{
    padding-bottom: 0
  }
}

