.auth-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 70px 0 70px 0;
    max-height: 700px;
    min-height: 100vh;
    box-sizing: border-box;
}

.auth-form__title{
    font-weight: 500;
    font-size: 24px;
    margin: 40px 0 42px 0;
}
  
.auth-form__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #A0A0A0;
}
  
.auth-form__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FF6838;
    text-decoration: none;
    padding-left: 6px;
}
  
.auth-form__link:hover {
    text-decoration: underline;
}
  
.auth-form__inputs {
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 0;
    margin: 0;
    flex: 1 0 auto;
}
  
.auth-form__buttons {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 0;
    flex: 0 0 auto;
    padding: 0;
    align-items: center;
    border: 0;
}

.auth-form__button {
    padding: 0;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6838;
    min-width: 397px;
    min-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.auth-form__button:hover {
    opacity: 0.6;
}
.auth-form__logo{
    height: 38px;
    width: 38px;
    transition: opacity 0.3s ease;
}
.auth-form__logo:hover{
    opacity: 0.6;
}

@media screen and (max-width: 786px) {
    .auth-form {
        max-height: 800px;
        padding: 232px 0;
    }

    .auth-form__buttons {
        /* padding-top: 217px; */
        /* padding-bottom: 232px; */
    }
}


@media screen and (max-width: 480px) {
    .auth-form {
        align-items: center;
        padding: 56px 30px 30px;
    }

    .auth-form__buttons{
        padding: 0;
        min-width: 260px;
        gap: 12px;
    }

    .auth-form__title {
        margin: 51px 0 81px 0;
    }

    .auth-form__text{
        font-size: 11px;
        letter-spacing: 0.6px;
    }

    .auth-form__link{
        font-size: 11px;
    }

    .auth-form__button {
        min-width: unset;
        width: 100%;
        font-size: 12px;
    }
}