.footer{
    height: 172px;
    background-color: #FAFAFA;
    padding: 0 70px 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    justify-content: flex-end;
    gap: 20px;

}
.footer__items{
    font-family: 'Inter';
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__item{
    font-family: 'Inter';
    font-size: 13px;
    margin: 0 0 20px;
}
.footer__links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footer__line{
    height: 1px;
    background-color: #E8E8E8;
}
.footer__title{
    color: #A0A0A0;
    margin: 0;
    text-align: center;
}