.techs {
    background-color: #f5f5f5;
    padding: 100px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.techs__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    margin: 90px 0 0;
    padding: 0;
    letter-spacing: -2px;
}
  
.techs__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 460px;
    margin: 26px 0 0;
    padding: 0;
    text-align: center;
}
  
.techs__techs {
    margin: 100px 0 0;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
  
.techs__tech {
    min-width: 90px;
    min-height: 60px;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
  
@media screen and (max-width: 768px) {
    .techs {
        padding: 90px 50px;
    }

    .techs__title {
        margin-top: 80px;
    }

    .techs__subtitle {
        font-size: 12px;
        line-height: 18px;
        margin-top: 22px;
        letter-spacing: -0.5px;
        max-width: 428px;
    }

    .techs__techs {
        margin-top: 83px;
        padding: 0 10px 0;
    }

    .techs__tech {
        font-size: 12px;
        line-height: 15px;
        min-width: 84px;
        min-height: 57px;
    }
}

@media screen and (max-width: 480px) {
    .techs {
        padding: 68px 18px;
        background-color: white;
    }
    .techs__title {
        margin-top: 61px;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -1.2px;
    }

    .techs__subtitle {
        margin-top: 24px;
        font-size: 11px;
        line-height: 16px;
    }

    .techs__techs {
        margin-top: 50px;
        background-color: white;
        max-width: 178px;
        padding: 0;
    }
}